<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.ues.fia.moviles"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sv.ues.fia.moviles.TareaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.DocenteMenuActivity"
            android:label="@string/title_activity_docente_menu" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.docente.DocenteInsertarActivity"
            android:label="@string/title_activity_docente_insertar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.pregunta.PreguntaInsertarActivity"
            android:label="@string/title_activity_pregunta_insertar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.pregunta.PreguntaConsultarActivity"
            android:label="@string/title_activity_pregunta_consultar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.pregunta.PreguntaEliminarActivity"
            android:label="@string/title_activity_pregunta_eliminar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.pregunta.PreguntaActualizarActivity"
            android:label="@string/title_activity_pregunta_actualizar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.categoria.CategoriaInsertarActivity"
            android:label="@string/title_activity_categoria_insertar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.categoria.CategoriaEliminarActivity"
            android:label="@string/title_activity_categoria_eliminar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.categoria.CategoriaConsultarActivity"
            android:label="@string/title_activity_categoria_consultar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.categoria.CategoriaActualizarActivity"
            android:label="@string/title_activity_categoria_actualizar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.detallecategoria.DetalleCategoriaInsertarActivity"
            android:label="@string/title_activity_detalle_categoria_insertar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.detallecategoria.DetalleCategoriaActualizarActivity"
            android:label="@string/title_activity_detalle_categoria_iactualizar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.detallecategoria.DetalleCategoriaConsultarActivity"
            android:label="@string/title_activity_detalle_categoria_consultar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.detallecategoria.DetalleCategoriaEliminarActivity"
            android:label="@string/title_activity_detalle_categoria_eliminar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.PreguntaMenuActivity"
            android:label="@string/title_activity_pregunta_menu" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.CategoriaMenuActivity"
            android:label="@string/title_activity_categoria_menu" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.DetalleCategoriaMenuActivity"
            android:label="@string/title_activity_detalle_categoria_menu" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.docente.DocenteConsultarActivity"
            android:label="@string/title_activity_docente_consultar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.docente.DocenteActualizarActivity"
            android:label="@string/title_activity_docente_actualizar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.docente.DocenteEliminarActivity"
            android:label="@string/title_activity_docente_eliminar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.CicloMenuActivity"
            android:label="@string/title_activity_ciclo_menu" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.ciclo.CicloInsertarActivity"
            android:label="@string/title_activity_ciclo_insertar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.ciclo.CicloConsultarActivity"
            android:label="@string/title_activity_ciclo_consultar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.ciclo.CicloActualizarActivity"
            android:label="@string/title_activity_ciclo_actualizar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.ciclo.CicloEliminarActivity"
            android:label="@string/title_activity_ciclo_eliminar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.AsignaturaMenuActivity"
            android:label="@string/title_activity_asignatura_menu" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignatura.AsignaturaInsertarActivity"
            android:label="@string/title_activity_asignatura_insertar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignatura.AsignaturaConsultarActivity"
            android:label="@string/title_activity_asignatura_consultar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignatura.AsignaturaActualizarActivity"
            android:label="@string/title_activity_asignatura_actualizar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignatura.AsignaturaEliminarActivity"
            android:label="@string/title_activity_asignatura_eliminar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.AsignacionCicloMenuActivity"
            android:label="@string/title_activity_asignacion_ciclo_menu" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignaciclo.AsignaCicloInsertarActivity"
            android:label="@string/title_activity_asigna_ciclo_insertar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignaciclo.AsignaCicloConsultarActivity"
            android:label="@string/title_activity_asigna_ciclo_consultar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignaciclo.AsignaCicloActualizarActivity"
            android:label="@string/title_activity_asigna_ciclo_actualizar" >
        </activity>
        <activity
            android:name="sv.ues.fia.moviles.controlador.asignaciclo.AsignaCicloEliminarActivity"
            android:label="@string/title_activity_asigna_ciclo_eliminar" >
        </activity>
    </application>

</manifest>
